*{
    box-sizing: 0 ;
    margin: 0;
    padding: 0;
}
body {
    background-color: #000020;
    position: relative;
    padding-bottom: 2em;
    min-width: 100vh;
}
@font-face {
    font-family:"aoboshioneregular";
    src: url(../fonts/aoboshioneregular.ttf);
}
header {
    display: flex;
    display: inline;
    flex-wrap: wrap;
    width: 100%;
    
}
nav.navbar {
    background-color: #171a4a;
    padding: 20px;
    position: sticky;
    top: 0;


}
.navbar ul {
    text-align: end;
    font-size: 25px

}

.navbar ul li {
    list-style: none;
    padding: 70px;
    display: inline;
    width: auto;

}
.navbar ul li a {
    color: rgb(255, 255, 255);
    font-family: aoboshioneregular;
    width: auto;
    padding: 10px;
    display: inline-block;
    
}
#checkbox-menu, label.menu {
    display: none;
}
label.menu {
    font-size: 20px;
    color: white;
}
@media screen and (max-width: 600px) {
    .navbar ul {
        flex-direction: column;
        position: absolute;
        top: 50px;
    }
    label.menu {
        display: block;
        margin-left: 10px;
    }
    #checkbox-menu:checked ~ ul {
        display: block;
    }
    
} 

img.banner2 {
    margin-inline: 0;
    display: block;
    width: 100%;
    margin: auto;

}
.grid1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 200px 600px repeat(2, 1fr);
    grid-template-areas: 
    "g1 g1"
    "g3 g2";
    margin: 10px auto;
    width: 80%;
    height: auto; 
    row-gap: 10px;
    column-gap: 10px;
}
.grid2 {
    background-color: rgb(48, 36, 116);
    text-align: center;
    height: auto;
    border: 1px solid white;
    color: black;
}
.g1 {
    grid-area: g1;

}
.g2 {
    grid-area: g2;

}
.foto1 {
    width: 50%;
    margin: 10px;
}
.tabla-resumen {
    table-layout: fixed;
    margin: auto;
    border-collapse: collapse;
    border: 3px solid black;
    color:black ;
  }
.tabla-resumen th, td {
    padding: 5px;
    border: 1px solid rgb(0, 0, 0);
  }

.g3 {
    grid-area: g3;
}
.caja-index {
    display: flex;
    border: 1px solid black;
    height: 300px;
    width: 80%;
    margin: 15px auto;

}
footer {
    background-color:  #171a4a;
    text-align: center;
    position: relative;
    width: 100%;
    padding: 1em 0;
    margin-top: auto ;
    bottom: 0 auto;
    position: absolute;
    display: inline-block;
}
.pie-pagina a {
    color: rgb(255, 255, 255);
    width: auto;
    padding: 10;
    font-size: 2rem;
    margin: 40px;
}
@media (min-width:600px) and (max-width:768){

}
@media screen and (max-width:480px) {
    .grid1 {
        grid-template-areas: 
        "g1"
        "g2"
        "g3";
    }
    .navbar {
        justify-content: space-around;

    }
    .banner {
        display: none;
     }

}

section.caja-mayor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 600;
    width: 100%;
    padding: auto;
    background-color: #000020;
    align-items: center;
    justify-content: space-evenly;

}

.caja-menor {
    font-weight: 500;
    height: 600px;
    width: 500px;
    background-color:blue; /* color orientacion */
    border: 5px solid white;
    border-radius: 5px;
}
section.seccioncontacto {
    color: white; 
}
.titulo-comunidad {
    text-align: center;
    color: black;

}
p.texto-comunidad {
    margin: 20px;
    text-align: center;
    color: white;
    border: 1px solid white;
}


