* {
  box-sizing: 0;
  margin: 0;
  padding: 0;
}


body {
  background-color: #000020;
}

@font-face {
  font-family: "aoboshioneregular";
  src: url(../fonts/aoboshioneregular.ttf);
}
@font-face {
  font-family: "anton-regular";
  src: url(../fonts/Anton-Regular.ttf);
}
@font-face {
  font-family: "comfortaa";
  src: url(../fonts/comfortaa.ttf);
}
@font-face {
  font-family: "asap";
  src: url(../fonts/asap.ttf);
}
.header-contenedor {
  width: 100%;
}

header {
  background-color: #171a4a;
  padding: 20px;
}

nav.navbar {
  display: flex;
  justify-content: flex-end;
}

.navbar ul {
  list-style: none;
  font-size: 25px;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  display: inline;
}

.navbar ul li a {
  color: rgb(255, 255, 255);
  font-family: "aoboshioneregular";
  text-decoration: none;
  padding: 10px;
  display: inline-block;
}

#checkbox-menu, label.menu {
  display: none;
}

label.menu {
  font-size: 20px;
  color: white;
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  .navbar ul {
    font-size: 18px;
  }
  .navbar ul li {
    padding: 30px;
  }
  .navbar ul {
    display: none;
  }
  label.menu {
    display: block;
    margin-left: 10px;
  }
  #checkbox-menu:checked ~ ul {
    display: flex;
    flex-direction: column;
    background-color: #171a4a;
    position: absolute;
    top: 100%;
    width: 100%;
  }
}
@media screen and (max-width: 480px) {

  .navbar {
    justify-content: space-around;
  }
  .banner {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  footer {
    flex-direction: column;
  }
  footer .pie-pagina {
    font-size: 1.2rem;
  }
}


img.banner2 {
  margin-inline: 0;
  display: block;
  width: 100%;
  margin: auto;
}

.grid1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "g1 g1" "g3 g2";
  margin: 10px auto;
  width: 80%;
  height: auto;
  row-gap: 10px;

  column-gap: 10px;
}

h1 {
  color: #CCCCCC;
  font-family: "anton-regular";
  
}

.grid2 {
  background-color: #171a4a;
  text-align: center;
  height: auto;
  border: 1px solid white;
  color: #CCCCCC;
}

.g1 {
  grid-area: g1;
}

.g2 {
  grid-area: g2;
}

.g3 {
  grid-area: g3;
}

@media screen and (max-width: 600px) {
  .grid1 {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      "g1"
      "g2"
      "g3";
  }
}

.foto1 {
  width: 50%;
  margin: 20px;
}

.tabla-resumen {
  table-layout: fixed;
  margin: auto;
  border-collapse: collapse;
  border: 3px solid black;
  color: #CCCCCC;
}

.tabla-resumen th, td {
  border: 1px solid rgb(0, 0, 0);
}

th, td {
  padding: 10px;
}

.caja-index {
  display: flex;
  border: 1px solid black;
  height: 300px;
  width: 80%;
  margin: 15px auto;
}

footer {
  background-color: #171a4a;
  text-align: center;
  position: relative;
  width: 100%;
  padding: 4px 0;

  position: absolute;
  display: flex;
  align-items: center;
  gap: 20px;

}
.pie-pagina {
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  justify-content: center;
}

.pie-pagina a {
  color: rgb(255, 255, 255);
  margin: 0 10px;
  font-size: 2rem;

}

section.caja-mayor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 600;
  width: 100%;
  padding: auto;
  background-color: #000020;
  align-items: center;
  justify-content: space-evenly;
}

.caja-menor {
  font-weight: 500;
  height: 650px;
  width: 500px;
  background-color: #171a4a;
  border: 2px solid white;
  border-radius: 5px;
  text-align: center;
}
.caja-menor img.evento1 {
  width: 50%;
  margin: 10px;
}
.caja-menor img.evento2 {
  margin: 10px;
  width: 55%;
}
.caja-menor img.evento3 {
  width: 35%;
  margin: 10px;
}
.caja-menor img.evento4 {
  margin: 10px;
}
.caja-menor img.evento5 {
  width: 60%;
  margin: 10px;
}
.caja-menor h1.t-eventoo {
  color: rgb(36, 116, 109);
}
.caja-menor p.p-evento {
  color:    rgb(255, 255, 255);
}
.titulo-contenedor{
  display: flex;
  justify-content: center;
  margin: 5px;
}
.contacto-contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
}
section.seccioncontacto {
  width: 800px;
  padding: 20px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: white;
}
.contacto1 {
  display: block;
  margin-bottom: 5px;
  
}
input[type="text"], textarea  {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;

 }
button {
  padding: 6px 10px;
  margin-right: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
 }

.caja-comunidad{
  display: flex;
  justify-content: center;
  flex-wrap: wrap

}
.titulo-comunidad {
  text-align: center;
  color: #CCCCCC;
}

p.texto-comunidad {

  border: 1px solid white;
  color: #CCCCCC;
  background-color: #171a4a;
}
.memes {
  width: auto;
  height: 350px;
  margin: 5px;
}

.gallery3 .memes3 {
  width: 600px;
  height: 410px;
  margin: 5px;

}
.gallery2 .memes2 {
  width: auto;
  height: 410px;
  margin: 5px;
}


p {
  font-size: 1.2rem;
}

h1 {
  font-size: 40px;

}
.titulo-imagenes {
  text-align: center;
  margin: 20px;

}

section.expositor {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 5px;
  object-fit: cover;

}
.galeria-foto {
  width: 400px;
  height: 400px;
  margin: 10px;

}

.galeria-foto2 {
  width: 400px;
  height: 550px;
  margin: 10px;

}
.galeria-foto3 {
  width: 400px;
  height: 550px;
  margin: 10px;

}
#br-videos{
  font-size: 20px;
}
.img-videos {
  width: 600px;
  height: 400px;
  margin: 5px;
}
p {
  text-indent: 3px;
  font-family: "asap";
}

/*# sourceMappingURL=style.css.map */